[submodule "hypfrontend"]
	path = hypfrontend
	url = https://github.com/vuongngo/hypfrontend.git
[submodule "hypadmin"]
	path = hypadmin
	url = https://github.com/vuongngo/hypadmin.git
[submodule "hypbackend"]
	path = hypbackend
	url = https://github.com/vuongngo/hypbackend.git
